/*!------------------------------------------------------------------
[LANGUAGE-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

.language-selector {
    .main {
        .lang {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            font-size: $language-bt-font-size;
            font-weight: bold;
            justify-content: end;

            @if $language-bt-radius !=0 {
                gap: $language-margin;
            }

            .lang-item {
                list-style-type: none;
                margin: 0;
                text-align: center;
                background-color: $language-bg-bt-color;
                border-radius: $language-bt-radius;
                width: 2em;
                height: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid;
                border-width: $language-btn-border-width;
                border-color: transparent;

                .lang-item-text {
                    color: $language-bt-color;
                    text-transform: $language-bt-transform;
                }

                &.active {
                    background-color: $language-bg-bt-color-active;
                    border-color: $language-bg-bt-color-active;

                    .lang-item-text {
                        color: $language-bt-color-active;
                    }
                }

                &:hover {
                    background-color: $language-bg-bt-color-opacity;

                    .lang-item-text {
                        color: $language-bg-bt-color-active;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
    }
}