/*!------------------------------------------------------------------
[TAB-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

.tabs-selector {
    @if $radius !=0 {
        padding: 0 ($padding-horizontal * 1.5);
        margin-bottom: $margin-vertical;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .tabs-item {
        flex-grow: 3;
        margin: $btn-margin;

        @if $radius==0 {
            margin-bottom: 0;
        }

        @else {
            margin-bottom: $margin;
        }

        text-transform: $bt-transform;

        list-style-type: none;

        .tabs-item-text {
            color: $btn-color-inactive;
            padding: $btn-padding;
            border-color: $btn-border-color;
            border-width: $btn-border-width;
            border-radius: $btn-border-radius;
            text-align: center;
            background-color: $main-primary-color;
            font-size: $bt-font-size;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &.active {

            .tabs-item-text {
                background-color: $btn-bg-color-actif;
                color: $btn-color;
            }
        }

        &:hover {
            .tabs-item-text {
                background-color: $btn-bg-color-hover;
                color: $btn-color-active;
            }
        }
    }

    a {
        text-decoration: none;
    }
}