/*!------------------------------------------------------------------
[TAB-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

.tabs-selector {
    @if $radius !=0 {
        margin-bottom: $margin-vertical;
    }

    position: relative;
    overflow:scroll;

    .tabs {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        padding-bottom: 3px;
        overflow-y: scroll;
        overflow-y: overlay;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tabs-item {
        // flex-grow: 3;

        @if $radius==0 {
            margin-bottom: 0;
        }

        @else {
            margin-bottom: $margin;
        }

        text-transform: $bt-transform;
        padding: $btn-padding;
        list-style-type: none;
        flex: 1 0 auto;
        text-align: center;
        border-right: if($tab-color, none,solid 1px $bg-header-article-color);

        &:last-of-type {
            border-right: none;
        }

        &:nth-child(5n+0),
        &:nth-child(5n+0)::after {
            background-color: $tab-color-1;
        }

        &:nth-child(5n+1),
        &:nth-child(5n+1)::after {
            background-color: $tab-color-2;
        }

        &:nth-child(5n+2),
        &:nth-child(5n+2)::after {
            background-color: $tab-color-3;
        }
        &:nth-child(5n+3),
        &:nth-child(5n+3)::after {
            background-color: $tab-color-4;
        }
        &:nth-child(5n+4),
        &:nth-child(5n+4)::after {
            background-color: $tab-color-5;
        }

        &.active {
            @if $tab-color==false {
                background-color: $grey-dark;
            }
        }

        &.active::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            content: "";
            @if $tab-color==false {
                background-color: $grey-dark;
            }
        }

        transition: all .3s ease;

        &:hover {
            opacity: .8;

            .tabs-item-text {
                color: $btn-color-active;
            }
        }

        .tabs-item-text {
            text-align: center;
            font-size: $bt-font-size;
            font-weight: bold;
            display: inline;
            color: $btn-color-inactive;
            transition: color .3s ease;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

    }

    a {
        text-decoration: none;
    }
}