/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

// Fonts
$font-family: 'Fira Sans',
sans-serif;
$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;
$line-height: 1.2;
$main-font-size: 1rem;
$secondary-font-size: .75rem;

// Colors
$white: #FFF !default;
$black: #000 !default;
$grey: #58585F !default;

$main-primary-color: #DD0B15 !default;
$main-primary-color-opacity: rgba($main-primary-color, .2);
$text-primary-color: #000 !default;
$bg-header-color: $white;
$bg-header-article-color: #F2F2F2;
$bg-footer-color: #F2F2F2;
$bg-content-color: transparent;

$tab-color-1: #4ABCA1;
$tab-color-2: #E26486;
$tab-color-3: #6F6FE2;


// margin, padding, radius
$margin: .5em;
$margin-vertical: .5em;
$margin-horizontal: 1em;

$padding: .5em;
$padding-vertical: .5em;
$padding-horizontal: 1em;
$radius: 0;

$breadcrumb-font-size: $secondary-font-size;

/* boutons */
$btn-color: white;
$btn-color-active: white;
$btn-color-inactive: white;
$btn-bg-color: white;
$btn-padding: $padding-vertical 3em;
$btn-gap: 4px;
$btn-border-color: $grey;
$btn-border-width: 1px;
$btn-border-radius: $radius;
$bt-transform: capitalize;
$bt-font-size: $secondary-font-size;


/* language */
$language-bg-bt-color: white;
$language-bg-bt-color-active: $main-primary-color;
$language-bg-bt-color-opacity: rgba($language-bg-bt-color-active, .2);
$language-bt-color: $grey;
$language-bt-color-active: white;
$language-bt-padding: .3em;
$language-bt-radius: 50%;
$language-btn-border-width: 1px;
$language-btn-border-color: $grey;
$language-margin: $margin;
$language-bt-transform: $bt-transform;
$language-bt-font-size: $secondary-font-size;

$btn-bg-color-actif: $main-primary-color;

/* boutons hover */
$btn-bg-color-hover: $main-primary-color-opacity;

$btn-border-color-hover: $main-primary-color-opacity;

/* footer */
$footer-font-size: .75rem;