/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* boutons */
/* language */
/* boutons hover */
/* footer */
/*!------------------------------------------------------------------
[TYPOGRAPHIE STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** typographie **************************************/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);
p {
  margin-top: 0;
  margin-bottom: 1rem; }

/************************************** titre **************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.h1,
h1 {
  font-size: 2.5rem;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-top: 0.2em; }

.h2,
h2 {
  font-size: 1.5rem;
  font-weight: 400; }

.h3,
h3 {
  font-size: 1.25rem;
  font-weight: bold; }

.h4,
h4 {
  font-size: 1rem;
  font-weight: bold; }

.h5,
h5 {
  font-size: 1rem;
  font-weight: 400; }

.h6,
h6 {
  font-size: 1rem;
  font-weight: 300; }

html {
  background: #FFF;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  overflow-y: scroll; }

@media screen and (min-width: 625px) {
  html {
    background: url("../images/background-biel.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; } }

body {
  margin: 0 auto;
  max-width: 70ch;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

header,
.header {
  font-size: 1.5em;
  padding: 0.3em 1em;
  color: #DD0B15;
  background-color: #FFF;
  font-weight: normal; }

article header {
  background-color: #F2F2F2;
  color: #000;
  padding: 0 1em 2.5rem;
  overflow: hidden;
  position: relative; }

article {
  background: white; }

footer,
.footer {
  font-size: 0.75rem;
  background: #F2F2F2;
  padding: 0.3em 1.5em; }

iframe {
  max-width: 100%; }

figure {
  margin: 2rem 0; }

img {
  display: block;
  margin: auto;
  max-width: 100%; }

ul {
  padding-left: 1rem; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.col {
  width: 100%; }

/*!------------------------------------------------------------------
[BUTTONS STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** Boutons **************************************/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent; }

.btn-primary {
  color: var(white); }

.btn-primary:hover {
  color: var(rgba(221, 11, 21, 0.2)); }

.btn-secondary {
  color: var(white); }

.btn-secondary:hover {
  color: var(rgba(221, 11, 21, 0.2)); }

/*!------------------------------------------------------------------
[BREADCRUMB STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** breadcrumb **************************************/
.breadcrumb {
  font-weight: normal;
  text-transform: normal;
  color: #000;
  margin: 2rem 0 0rem;
  padding: .3em 0;
  font-size: 0.75rem; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #000; }
  .breadcrumb .breadcrumb-separator {
    color: #DD0B15;
    font-weight: 300; }
  .breadcrumb .breadcrumb-item {
    font-weight: 300;
    text-decoration: none;
    color: #DD0B15; }
    .breadcrumb .breadcrumb-item.active {
      color: #58585F; }

/*!------------------------------------------------------------------
[LANGUAGE-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
.language-selector .main .lang {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: end;
  gap: 0.5em; }
  .language-selector .main .lang .lang-item {
    list-style-type: none;
    margin: 0;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: transparent; }
    .language-selector .main .lang .lang-item .lang-item-text {
      color: #58585F;
      text-transform: capitalize; }
    .language-selector .main .lang .lang-item.active {
      background-color: #DD0B15;
      border-color: #DD0B15; }
      .language-selector .main .lang .lang-item.active .lang-item-text {
        color: white; }
    .language-selector .main .lang .lang-item:hover {
      background-color: rgba(221, 11, 21, 0.2); }
      .language-selector .main .lang .lang-item:hover .lang-item-text {
        color: #DD0B15; }

.language-selector a {
  text-decoration: none; }

/*!------------------------------------------------------------------
[TAB-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
.tabs-selector {
  position: relative;
  overflow: scroll; }
  .tabs-selector .tabs {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
    overflow-y: scroll;
    overflow-y: overlay;
    scrollbar-width: none; }
    .tabs-selector .tabs::-webkit-scrollbar {
      display: none; }
  .tabs-selector .tabs-item {
    margin-bottom: 0;
    text-transform: capitalize;
    padding: 0.5em 3em;
    list-style-type: none;
    flex: 1 0 auto;
    text-align: center;
    border-right: none;
    transition: all .3s ease; }
    .tabs-selector .tabs-item:last-of-type {
      border-right: none; }
    .tabs-selector .tabs-item:nth-child(5n+0), .tabs-selector .tabs-item:nth-child(5n+0)::after {
      background-color: #4ABCA1; }
    .tabs-selector .tabs-item:nth-child(5n+1), .tabs-selector .tabs-item:nth-child(5n+1)::after {
      background-color: #E26486; }
    .tabs-selector .tabs-item:nth-child(5n+2), .tabs-selector .tabs-item:nth-child(5n+2)::after {
      background-color: #6F6FE2; }
    .tabs-selector .tabs-item:nth-child(5n+3), .tabs-selector .tabs-item:nth-child(5n+3)::after {
      background-color: #835D4F; }
    .tabs-selector .tabs-item:nth-child(5n+4), .tabs-selector .tabs-item:nth-child(5n+4)::after {
      background-color: #E28E6F; }
    .tabs-selector .tabs-item.active::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      content: ""; }
    .tabs-selector .tabs-item:hover {
      opacity: .8; }
      .tabs-selector .tabs-item:hover .tabs-item-text {
        color: white; }
    .tabs-selector .tabs-item .tabs-item-text {
      text-align: center;
      font-size: 0.75rem;
      font-weight: bold;
      display: inline;
      color: white;
      transition: color .3s ease; }
    .tabs-selector .tabs-item:first-of-type {
      margin-left: 0; }
    .tabs-selector .tabs-item:last-of-type {
      margin-right: 0; }
  .tabs-selector a {
    text-decoration: none; }

.title {
  padding: 0.5em 1.5em; }

.content {
  background-color: transparent;
  padding: 0.5em 1.5em; }

.chapeau {
  font-weight: bold; }
