/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* boutons */
/* language */
/* boutons hover */
/*!------------------------------------------------------------------
[TYPOGRAPHIE STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** typographie **************************************/
p {
  margin-top: 0;
  margin-bottom: 1rem; }

/************************************** titre **************************************/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.h1, h1 {
  font-size: 2.5em;
  text-align: left;
  color: var(#DD0B15);
  font-weight: bold; }

.h2, h2 {
  font-size: 1.25em;
  font-weight: 400; }

.h3, h3 {
  font-size: 1.25em;
  font-weight: bold; }

.h4, h4 {
  font-size: 1em;
  font-weight: bold; }

.h5, h5 {
  font-size: 1em;
  font-weight: 400; }

.h6, h6 {
  font-size: 1rem;
  font-weight: 300; }

html {
  background: #FFF;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  overflow-y: scroll; }

body {
  margin: 0 auto;
  max-width: 70ch;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

header, .header {
  font-size: 1.5em;
  padding: 0.3em 1em;
  color: #FFF;
  background-color: transparent;
  font-weight: normal; }

footer, .footer {
  background: #FFF;
  padding: 0.3em 1.5em; }

iframe {
  max-width: 100%; }

figure {
  margin: 2rem 0; }

img {
  display: block;
  margin: auto;
  max-width: 100%; }

/*!------------------------------------------------------------------
[BUTTONS STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** Boutons **************************************/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent; }

.btn-primary {
  color: var(#DD0B15); }

.btn-primary:hover {
  color: var(rgba(221, 11, 21, 0.2)); }

.btn-secondary {
  color: var(#DD0B15); }

.btn-secondary:hover {
  color: var(rgba(221, 11, 21, 0.2)); }

/*!------------------------------------------------------------------
[BREADCRUMB STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** breadcrumb **************************************/
.breadcrumb {
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin: 0.5em 0;
  padding: 0.3em 1.5em;
  font-size: 0.75em; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #000; }
  .breadcrumb .breadcrumb-separator {
    color: #DD0B15;
    font-weight: 300; }
  .breadcrumb .breadcrumb-item {
    font-weight: 300;
    text-decoration: none;
    color: #DD0B15; }
    .breadcrumb .breadcrumb-item.active {
      font-weight: bold; }

/*!------------------------------------------------------------------
[LANGUAGE-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
.language-selector .main .lang {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 0.75em; }
  .language-selector .main .lang .lang-item {
    list-style-type: none;
    flex-grow: 5;
    margin: 0;
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border: solid;
    border-width: 1px;
    border-color: #58585F;
    border-left-width: calc(1px / 2);
    border-right-width: calc(1px / 2); }
    .language-selector .main .lang .lang-item:first-of-type {
      border-left-width: 1px; }
    .language-selector .main .lang .lang-item:last-of-type {
      border-right-width: 1px; }
    .language-selector .main .lang .lang-item .lang-item-text {
      padding: 0.5em;
      color: #DD0B15;
      text-transform: uppercase; }
    .language-selector .main .lang .lang-item.active {
      background-color: #DD0B15; }
      .language-selector .main .lang .lang-item.active .lang-item-text {
        color: white; }
    .language-selector .main .lang .lang-item:hover {
      background-color: rgba(221, 11, 21, 0.2); }
      .language-selector .main .lang .lang-item:hover .lang-item-text {
        color: #DD0B15; }

.language-selector a {
  text-decoration: none; }

/*!------------------------------------------------------------------
[TAB-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
.tabs-selector .tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.tabs-selector .tabs-item {
  flex-grow: 3;
  margin: 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  list-style-type: none; }
  .tabs-selector .tabs-item .tabs-item-text {
    color: #FFF;
    padding: 0.5em 1em;
    border-color: #DD0B15;
    border-width: 1px;
    border-radius: 0;
    text-align: center;
    background-color: #DD0B15;
    font-size: 0.75em; }
  .tabs-selector .tabs-item:first-of-type {
    margin-left: 0; }
  .tabs-selector .tabs-item:last-of-type {
    margin-right: 0; }
  .tabs-selector .tabs-item.active .tabs-item-text {
    background-color: rgba(221, 11, 21, 0.2);
    color: #DD0B15; }
  .tabs-selector .tabs-item:hover .tabs-item-text {
    background-color: rgba(221, 11, 21, 0.2);
    color: #DD0B15; }

.tabs-selector a {
  text-decoration: none; }

.title {
  padding: 0.5em 1.5em; }

.content {
  background-color: rgba(221, 11, 21, 0.2);
  padding: 0.5em 1.5em; }
